.doch{
    color:darkorchid;
    text-align: center;
    font-size: 50px;
}
.losowah4{
    text-align: center;
    color:magenta;
    font-size: 30px;
}
.parzysta{
    color:navy;
    text-align: center;
    font-size: 30px;
}
.dziesiatki{
    color:deeppink;
    text-align: center;
    font-size: 30px;
}